body {
    font-family: Arial, sans-serif;
    background-color: #3ff1b0;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #2F404E;
    border: 4px dashed #10e1b4;

    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

/* Main Container */
.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.box {
    background-color: #2F404E;
    color: white;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.2);
}

.shadow {
    box-shadow: 5px 5px 10px rgba(254, 255, 255, 0.3);
}

.rounded {
    border-radius: 15px;
    background-color: #14c8a1;
    color: black;
}

.gradient {
    background: linear-gradient(45deg, #3cdf8b, #5eebeb);
    color: rgb(0, 0, 0);
}

.border {
    border: 2px solid #10e1b4;
    border-style: dashed;
}

.opacity {
    opacity: 0.5;
}

.transform {
    transform: rotate(5deg);
}

.transition {
    transition: all 0.5s ease;
}

.animation {
    animation: bounce 1s infinite alternate;
}

.flexbox {
    display: flex;

    align-items: center;
    justify-content: center;
}

.grid {
    background: #028a88;
    border-radius: 8px;
}

.text-shadow {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    color: rgb(9, 165, 147);
}

.background-image {
    background-image: url("uu logo.webp");
    background-size: cover;
}

.letter-spacing {
    letter-spacing: 4px;
}

.word-spacing {
    word-spacing: 8px;
}

.line-height {
    line-height: 2;
}

.z-index {
    position: relative;
    z-index: 10;
}

.visibility {
    visibility: visible;
}

.clip-path {
    clip-path: circle(60% at 50% 50%);
}

.filter {
    filter: blur(1px);
}

.cursor {
    cursor: pointer;
}

/* Animation */
@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}